<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
      "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
	<session-factory>
		<property name="hbm2ddl.auto">update</property>
		<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/prodaptdb</property>
		<property name="connection.username">root</property>
		<property name="connection.password">admin</property>
		<property name="show_sql">true</property>

		<mapping class="jdbappmapping.StudentBi"></mapping>
		<mapping class="jdbappmapping.AddressBi"></mapping>
		
		
		<mapping class="jdbaonetomany.Employee"></mapping>
		<mapping class="jdbaonetomany.Department"></mapping>
		
		


	</session-factory>
</hibernate-configuration>